div.container{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(29,58,194,1) 22%, rgba(155,70,252,1) 87%);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.login-container{
    width: 432px;
    height: 535px;
    background-color: #fff;
    border-radius: 10px;
}